extends ../layout

block content
    body
        form(action="/admin/articles/update/"+article.id method="POST")
            p Title:
                input(type="text" name="title" value= article.title)
            br
            p Content:
            textarea(id="article-body" name="body" value=article.body)
            input(type="submit")
    script.
        $(document).ready(function(){
            var simplemde = new SimpleMDE({ element: document.getElementById("article-body") });
            simplemde.value(`#{article.body}`);
        });