extends ../layout

block content
    body
        form(action="/admin/articles/update/"+article.id method="POST")
            p Title:
                input(type="text" name="title" value= article.title)
            br
            p Content:
            textarea(id="markdown" name="body")
            input(type="submit")
    script.
        window.addEventListener('load', function () {
            simplemde.value(`#{article.body}`);
        });