doctype html
html
    include ./includes/head.pug
    body(class="admin-body")
        if (messages.info)
            span(class="flash-message")= messages.info
        div(class="container")
            include ./includes/nav.pug
            div(class="page-contents")
                h1=title
                block content
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    script(src = 'https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(src = '/javascripts/admin.js')