doctype html
html
    include ./includes/head.pug
    body(class="admin-body" id="admin-body")
        if (messages.info)
            span(class="flash-message")= messages.info
        div(class="container")
            include ./includes/nav.pug
            div(class="page-contents")
                h1=title
                block content
    footer