doctype html
html
    include ./includes/head.pug
    body(class="admin-body" id="admin-body")
        if (messages && messages.info)
            span(class="flash-message")= messages.info
        div(class="main-container")
            include ./includes/nav.pug
            div(class="page-contents")
                h1=title
                block content
    footer
        script(src='/javascripts/simplemde.min.js')
        script(src='/javascripts/admin.js')