extends ./layout

block content
    form(class="uploads-form" method="post" enctype="multipart/form-data" action="/admin/uploads")
        input(type="file" name="file")
        input(type="submit" value="submit")
    div(class="images-container")
        each file, index in files
            div(class="image-item")
                div(class="image-wrap")
                    image(src=file)
                form(method="post" action="/admin/uploads/delete")
                    input(id="url-field"+index type="text" name="file" readonly value=file)
                    a(class="copy-btn btn" onclick="copyUrl('url-field"+index+"')")="copy url"
                    input(type="submit" value="delete")