extends ./layout

block content
    form(class="uploads-form" method="post" enctype="multipart/form-data" action="/admin/uploads")
        input(type="file" name="file")
        input(type="submit" value="submit")
    each file in files
        div(class="upload-image-wrap")
            image(class="thumbnail" src='/uploads/'+file)
            input(type="text" readonly value="/uploads/"+file)