extends ../layout

block content
    body
        form(action="/admin/nav-items/create" method="POST")
            p Title:
                input(type="text" name="title" placeholder="")
            p Url:
                input(type="text" name="url" placeholder="")
            input(type="submit")