extends ../layout

block content
    body
        form(action="/admin/nav-items/update/"+navItem.id method="POST")
            p Title:
                input(type="text" name="title" value= navItem.title)
            p Url:
                input(type="text" name="url" value= navItem.url)
            input(type="submit")