extends ../layout

block content
    body
        form(action="/admin/tags/update/"+tag.id method="POST")
            p Title:
                input(type="text" name="title" value=tag.title)
            br
            input(type="submit")