extends ../layout

block content
    a(class="create-btn" href='/admin/tags/create') Create tag
    if (tags.length)
        div(class="table items")
            div(class="row")
                div="Title"
                div="Edit"
                div="Delete"
            div(class="table-contents")
                    each tag in tags
                        div(class="item row")
                            div
                                h2=tag.title
                            div
                                a(href="tags/edit/" + tag.id) Edit
                            div
                                a(href="tags/delete/" + tag.id) Delete