extends ../layout

block content
    body
        form(id ="post-type-form" action="/admin/post-types/create" method="POST")
            p Title:
                input(type="text" name="title" placeholder="")
            br
            p Url:
                input(type="text" name="url" placeholder="")
            br
            p Fields:
                div(id="repeat")
                    div(class="table wrapper items")
                        div(class="row")
                            div="Title"
                            div="Type"
                            div="Delete"
            input(type="submit")
    script(src="/javascripts/repeatable-fields.js")
    script. 
        jQuery("#repeat").repeatable_fields();