extends ../layout

block content
    body
        form(id ="post-type-form" action="/admin/post-types/create" method="POST")
            p Title:
                input(type="text" name="title" placeholder="")
            br
            p Url:
                input(type="text" name="url" placeholder="")
            br
            p Fields:
                div(id="repeat")
                    div(class="table wrapper items")
                        div(class="row")
                            div="Title"
                            div="Type"
                            div="Delete"
                        div(class="table-contents container" id="field-table")
                            
                            // Custom fields template
                            div(class="item template row")
                                div
                                    input(type="text" name="fields[{{row-count-placeholder}}][field_name]")
                                div
                                    select(name="fields[{{row-count-placeholder}}][field_type]")
                                        each fieldType in fieldTypes
                                            option=fieldType.name
                                div
                                    a(class="remove") Delete
                                    
                        a(class="add") Add field
            input(type="submit")
    script(src="/javascripts/repeatable-fields.js")
    script. 
        jQuery("#repeat").repeatable_fields();