extends ../layout

block content
    body
        form(action="/admin/post-types/update/"+postType.id method="POST")
            p Title:
                input(type="text" name="title" placeholder="")
            br
            p Url:
                input(type="text" name="url" placeholder="")
            br
            p Fields:
                    div(class="table items")
                        div(class="row")
                            div="Title"
                            div="Type"
                            div="Delete"
                        div(class="table-contents" id="field-table")
                            div(class="item row" id="type-template")
                                div
                                    input(type="text" name="fields[1][field_name]")
                                div
                                    select(name="fields[1][field_type]")
                                        each fieldType in fieldTypes
                                            option=fieldType.name
                                div
                                    a(onclick="removeField(this)") Delete
                    a(class="create-btn" onclick="addField('field-table')") Add field
            input(type="submit")
    script(src="/javascripts/field-type-form.js")