extends layout

block content
    each article in articles
        article(class="article")
            h2= article.title
            time!= moment(article.date).format("MMMM D, Y h:mm A")
            div!= article.body