extends ./layout

block content
    a(class="create-btn" href='/admin/blog/create') Create Article
    div(class="articles")
        each article in articles
            div(class="article")
                div(class="title-container")
                    h2= article.title
                    time!= moment(article.date).format("MMMM D, Y h:mm A")
                div(class="btn-container")
                    a(href="blog/edit/" + article.id) Edit
                    a(href="blog/delete/" + article.id) Delete