@font-face
  font-family: "Apercu Mono"
  src: url('../fonts/ApercuPro-Mono.eot')
  src: url('../fonts/ApercuPro-Mono.woff') format('woff')
  src: url('../fonts/ApercuPro-Mono.ttf') format('truetype')

@font-face
  font-family: "Roboto"
  src: url('../fonts/Roboto-Regular.ttf') format('truetype')

@font-face
  font-family: "Source Sans Pro"
  src: url('../fonts/SourceSansPro-Regular.otf') format('opentype')

@font-face
  font-family: "Montserrat"
  src: url('../fonts/Montserrat-SemiBoldItalic.otf') format('opentype')

@font-face
  font-family: "Untitled Sans"
  src: url('../fonts/Untitled_Sans_Regular.ttf') format('truetype')

@font-face
  font-family: "TTNorms"
  src: url('../fonts/TTNorms-Regular.otf') format('opentype')

@font-face
  font-family: "TTNorms"
  src: url('../fonts/TTNorms-Bold.otf') format('opentype')
  font-weight: bold

@font-face
  font-family: "TTNorms"
  src: url('../fonts/TTNorms-Italic.otf') format('opentype')
  font-style: italic

$banner_colour: #FF915A
$text_colour: #0A0A0A

$admin_nav_colour: #1A1844
$button_colour: #009F9F
$input_border_colour: #D0D0D9
$input_label_colour: #9A95A2

$global_border_radius: 5px

@import './admin-components'
@import './components'

body
  font: 14px Source Sans Pro, Helvetica, Arial, sans-serif
  letter-spacing: 0.2px
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

.admin-body
  margin: 0
  height: 100%
  width: 100%
  display: flex
  position: fixed

main
  flex-grow: 3

// woooaahh cooool a loop for column widthing: wow!
@for $i from 1 through 21
  .list-width-#{($i - 1) * 5}
    width: #{($i - 1) * 5 +'%'}

.hidden
  visibility: hidden
  height: 0 !important
  padding: 0 !important