@font-face
  font-family: "Apercu Mono"
  src: url('../fonts/ApercuPro-Mono.eot')
  src: url('../fonts/ApercuPro-Mono.woff') format('woff')
  src: url('../fonts/ApercuPro-Mono.ttf') format('truetype')

body
  padding: 20px
  font: 14px "Consolas", Helvetica, Arial, sans-serif
  background-color: #000
  color: #fff
  .wrap
    width: 100%
    max-width: 600px
    margin: auto

a
  color: #fff
  font: 1.2em "Apercu Mono", Consolas, Helvetica, Arial, sans-serif

h1
  font: 3em "Apercu Mono", Consolas, Helvetica, Arial, sans-serif
  font-weight: bold
  margin: 20px 0px 10px -3px

h2
  font-size: 2em
  font-style: italic
  font-weight: normal
  margin-top: 10px
  margin-bottom: 10px

time
  font-size: 1.1em
  font-weight: bold
  margin-bottom: 20px

article
  margin-top: 20px
  margin-bottom: 60px
  img
    width: 100%

nav
  padding-bottom: 40px
  ul
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    li
      float: left
      margin-right: 12px
      a
        display: block
        text-align: center
        text-decoration: none
        color: #fff

.admin-body
  a
    background-color: #9f84ff
    border-radius: 4px
    padding: 7px
    margin-right: 10px
    color: #fff
    text-decoration: none
    border: 1px white solid
  .panel
    border: 1px white solid
    padding: 20px 10px
    a
      background-color: #50daff
    .create-btn
      background-color: darksalmon
  .article
    margin-top: 20px
    border: 1px #fff solid
    padding: 10px
    .btn-container
      border: 1px #000 solid
      display: flex
      margin-top: 10px
  .editor-toolbar
    background-color: #fff
    opacity: 1
  .upload-image-wrap
    position: relative
    margin: 10px
    display: inline-block
    background-color: #fff
    width: 108px
    .thumbnail
      border: none
      clip: rect(0px 100px 100px 0px)
      height: 100px
      position: absolute
    input
      float: left
      width: 100px
      margin-top: 100px


