extends ../layout

block content
    body
        form(action="/admin/posts/create" method="POST")
            p Title:
                input(type="text" name="title" placeholder="")
            br
            p Content:
            textarea(id="post-body" name="body" placeholder="")
            input(type="submit")
    script.
        $(document).ready(function(){
            var simplemde = new SimpleMDE({ element: document.getElementById("post-body") });
        });