extends ../layout

block content
    body
        form(action="/admin/posts/update/"+post.id method="POST")
            p Title:
                input(type="text" name="title" value= post.title)
            br
            p Content:
            textarea(id="post-body" name="body")
            input(type="submit")
    script.
        $(document).ready(function(){
            var simplemde = new SimpleMDE({ element: document.getElementById("post-body") });
            simplemde.value(`#{post.body}`);
        });