extends ../layout

block content
    body
        form(action="/admin/pages/create" method="POST")
            p Title:
                input(type="text" name="title" placeholder="")
            p Url:
                input(type="text" name="url" placeholder="")
            br
            p Content:
                textarea(id="page-body" name="body" placeholder="")
            input(type="submit")
    script.
        $(document).ready(function(){
         var simplemde = new SimpleMDE({ element: document.getElementById("page-body") });
        });