extends ../layout

block content
    body
        form(action="/admin/pages/update/"+page.id method="POST")
            p Title:
                input(type="text" name="title" value= page.title)
            p Url:
                input(type="text" name="url" placeholder="")
            br
            p Content:
            textarea(id="markdown" name="body")
            input(type="submit")
    script.
        window.addEventListener('load', function () {
            simplemde.value(`#{page.body}`);
        });