block variables
    - 
        var NavItems = [
            {'url' : '/posts', 'title': 'Posts', 'icon': 'edit'},
            {'url' : '/tags', 'title': 'Tags', 'icon': 'tag'},
            {'url' : '/pages', 'title': 'Pages', 'icon': 'layout'},
            {'url' : '/nav-items', 'title': 'Navigation', 'icon': 'link'},
            {'url' : '/users', 'title': 'Users', 'icon': 'users'},
            {'url' : '/uploads', 'title': 'Upload Image', 'icon': 'folder'},
            {'url' : '/users/logout', 'title': 'Logout', 'icon': 'power'}
        ]
    //- - var page = window.location.pathname

nav
    header
        a(href="/admin/posts")
            h1 quill <img src='/images/logo-quill.svg'>

    ul
        each NavItem in NavItems
            if path.includes('/admin'+NavItem.url)
                li.selected
                    a(href='/admin'+NavItem.url) <img src='/images/icon-#{NavItem.icon}.svg'> #{NavItem.title}
            else 
                li
                    a(href='/admin'+NavItem.url) <img src='/images/icon-#{NavItem.icon}.svg'> #{NavItem.title}