nav
    ul
        li
            a(href='/admin/') Dashboard
        li
            a(href='/admin/articles') Articles
        li
            a(href='/admin/pages') Pages
        li
            a(href='/admin/navigation') Navigation
        li
            a(href='/admin/uploads') Upload Image
        li(class="logout")
            a(href='/admin/logout') Logout