nav
    ul
        li
            a(href='/admin/') Dashboard
        li
            a(href='/admin/posts') Posts
        li
            a(href='/admin/tags') Tags
        li
            a(href='/admin/pages') Pages
        li
            a(href='/admin/nav-items') Navigation
        li
            a(href='/admin/users') Users
        li
            a(href='/admin/uploads') Upload Image
        li(class="logout")
            a(href='/admin/users/logout') Logout