- var content
if (page && page.body)
    - content = page.body

div.input-group
    label Title
    input(type="text" name="title" placeholder="" value=(page && page.title) ? page.title : '')
br
div.input-group    
    label Url
    input(type="text" name="url" placeholder="" value=(page && page.url) ? page.url : '')
br
div.input-group
    label Content
    textarea(id="page-body" name="body" placeholder="" value=(page && page.body) ? page.body : '')
input(type="submit" class="btn")

script.
    $(document).ready(function(){
        var simplemde = new SimpleMDE({ element: document.getElementById("page-body") });
        simplemde.value(!{JSON.stringify(content)});
    });