doctype html
html
    include ../includes/head.pug
    body(class="admin-body login")
        if (messages && messages.info)
            span(class="flash-message")= messages.info
        form(action="/admin/users/login" method="POST")
            h1 quill 
                img(src='/images/logo-quill-dark.svg')
            div.form-inner
                div.form-line
                    div.input-group
                        label Email
                        input(type="text" name="email" placeholder="")
                div.form-line
                    div.input-group
                        label Password
                        input(type="password" name="password" placeholder="")
                div.form-line.submit-line
                    div.input-group
                        input(type="submit" class="btn" value="Login")