extends ../layout

block content
    body
        form(action="/admin/users/register" method="POST")
            div.input-group
                label Email
                input(type="text" name="email" placeholder="" value=(user && user.email) ? user.email : '')
            br
            div.input-group
                label Password
                input(type="text" name="password" placeholder="")
            br
            input(type="submit" class="btn")